<template>
    <div class="component">
        <h3>You may view the User Details here</h3>
        <p>Many Details</p>
        <p>My name: {{ switchName() }}</p>
        <button @click="resetName">Reset</button>
        <button @click="resetFn">Reset Func</button>
    </div>
</template>

<script>
    export default {
        props: {
            myName: {
                type: String,
                required: true,
                //default: 'Divya'

                // type: Object,
                // default: function() {
                //     return {
                //         name:'Divya'
                //     }
                // }
            },
            resetFn: Function,
        },
        methods: {
            switchName() {
                return this.myName.split('').reverse().join('');
            },
            resetName() {
                this.myName = 'Shivani';
                this.$emit('nameReset', this.myName);
            }
        }
    }

</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
