body {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
body .navbar {
  height: 56px;
  background: gray;
  display: flex;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
body .navbar a {
  color: whitesmoke;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  justify-content: center;
}
body .navbar a:hover {
  color: aquamarine;
}
body .navbar a:focus, body .navbar a:active {
  color: yellowgreen;
}
body p {
  font-size: 18px;
}

/*# sourceMappingURL=styles.css.map */
