body {
    max-width:1300px;
    width:100%;
    margin:0 auto;
    .navbar {
        height: 56px;
        background: gray;
        display: flex;
        max-width:1300px;
        width:100%;
        margin:0 auto;
        a{
            color:whitesmoke;
            padding: 20px;
            text-decoration: none;
            font-size: 18px;
            justify-content: center;
            &:hover {
                color: aquamarine;
            }
            &:focus,&:active {
                color: yellowgreen;
            }
        }
    }
    p{
        font-size: 18px;
    }
}