<template>
  <div class="products">
    <div class="product-row">
      <table>
         <tbody>
          <tr>
            <td> # </td>
            <td> Product </td>
            <td> Quantity </td>
            <td> Price </td>
            <td> Total </td>
          </tr>
        
       
          <tr v-for="(product,index) in products" :key="index">
            <td> {{ index+1 }} </td>
            <td> <input v-model="product.name"></td>
            <td> <input v-model="product.quantity"></td>
            <td> <input v-model="product.price"> </td>
            <td> {{ total(product,index) }} {{ totalVal[index]}} </td>
            <td> <button @click="removeItem(index)">X</button></td>
          </tr>
        </tbody>
      </table>
      <button class="addbtn" @click="addRow">Add Row</button>
      <button class="delbtn" @click="deleteRow">Delete Row</button>
      <div class="totalDiv">
        <label for="subTotal">
          Subtotal: {{ subFunct() }}
        </label>
        <br>
        <label for="taxValue">
          Tax: <input v-model="taxVal"> %
        </label>
        <br>
        <label for="taxAmount">
          Tax Amount: <input class="tax" v-model="taxAmt" :placeholder="taxFunc()">
        </label>
        <br>
        <label for="grandTotal">
          Grand Total: <input class="tax" v-model="grndttl" :placeholder="grandFunc()">
        </label>
      </div>
    </div>
  </div> 
</template>

<script>
export default {
  name: 'Product',
  data() {
    return {
      products: [
        {name:'Apple', price: 40, quantity: 3},
        {name:'Banana', price: 30, quantity: 5}
      ],
      totalVal:[],
      taxVal: 0,
      taxAmt: 0,
      grndttl: 0,
    }
  },
  watch: {
    totalVal: function() {
      this.subFunct();
    },
  },
  computed: {
  },
  methods: {
    total: function(product,index) {
      this.totalVal[index] = product.price * product.quantity;
    },
    removeItem: function(index) {
      let remove = confirm('Are you sure you want to remove this item?');
      if(remove) {
        this.products.splice(index,1);
        this.totalVal.splice(index,1);
      }
    },
    addRow: function() {
      this.products.push({name: '', price: 0, quantity: 0});
      
    },
    deleteRow: function() {
      this.products = [];
      this.totalVal = [];
    },
    subFunct: function(){

      let total = [];

      Object.entries(this.totalVal).forEach(([key, val]) => {
          total.push(val) // the value of the current key.
          console.log(key);
      });

      return total.reduce(function(total, num){ return total + num }, 0);

    },
    taxFunc: function() {
      this.taxAmt = (this.subFunct()*this.taxVal)/100;
      return this.taxAmt;
    },
    grandFunc: function() {
      this.grndttl = this.subFunct() + (this.subFunct()*this.taxVal)/100;
      return this.grndttl;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button.addbtn {
    float: left;
    margin: 10px;
  }
  button.delbtn {
    margin: 10px 100px 0 0;
  }
  .totalDiv {
    border: 1px solid black;
    max-width: 360px;
    width:100%;
    margin: 25px 35% 0 auto;
    padding: 20px 0;
  }
  .totalDiv input {
    margin: 10px 0;
  }
  .totalDiv input.tax {
    margin-right: 75px;
  }
</style>
