<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Vuex</h1>
                <app-result></app-result>
                <app-another-result></app-another-result>
                <hr>
                <app-counter></app-counter>
                <hr>
                <app-another-counter></app-another-counter>
                <hr>
                <p> {{ output }} </p>
                <p> {{ result() }} </p>
                <button @click="anotherCounter++"> Increment Another Counter</button>
                <p> {{ anotherCounter }} </p>
            </div>
        </div>
    </div>
</template>

<script>
    import Counter from './components/Counter.vue';
    import Result from './components/Result.vue';
    import AnotherResult from './components/AnotherResult.vue'
    import AnotherCounter from './components/AnotherCounter.vue'

    export default {
        data() {
          return {
            anotherCounter: 0,
          }  
        },
        components: {
            appCounter: Counter,
            appResult: Result,
            appAnotherResult: AnotherResult,
            appAnotherCounter: AnotherCounter,
        },
        computed: {
            output: function() {
                console.log('Output called'); //This will be called only if we will increment counter value not on another counter.
                return this.$store.state.counter<10?'Output is Smaller than 10': 'Output is Greater than 10';
            }
        },
        methods: {
            result: function() {
                console.log('Result called'); //This will be called even if we will increment another counter
                return this.$store.state.counter<10?'Result is Smaller than 10': 'Result is Greater than 10';
            }
        }
    }
</script>

