<template>
  <div>
    <div class="hello">
      <h1>{{ msg }}</h1>
    </div>
    <div>
      <p v-for="n in arr" :key="n">
        <span v-if="n%2 === 0">
          {{ n }}
        </span>
      </p>
      <input type="text" v-model="name">
      <p> {{ name }} </p>
    </div>
    <form>
      <div :class="['formItem']">
        <label for="fullName">
          Name:  
        <input v-model="fullName" placeholder="Enter your Full Name" > 
        </label>
      </div>
      <div :class="['formItem']">
        <label for="address" :class="['textArea']">
          Address: 
        <textarea v-model="address" placeholder="Enter your Address" ></textarea>
        </label>
      </div>
      <div :class="['formItem']">
        <label for="gender">Gender: </label>
        <input type="radio" id="one" value="Male" v-model="gender">
        <label for="female">Male</label>
        <input type="radio" id="two" value="Female" v-model="gender">
        <label for="male">Female</label>
      </div>
      <div :class="['formItem']">
        <label for="menu">Menu: </label>
        <input type="checkbox" id="fish" value="Fish" v-model="checkedFood">
        <label for="fish">Fish</label>
        <input type="checkbox" id="chicken" value="Chicken" v-model="checkedFood">
        <label for="chicken">Chicken</label>
        <input type="checkbox" id="egg" value="Egg" v-model="checkedFood">
        <label for="egg">Egg</label>
        <input type="checkbox" id="rice" value="Rice" v-model="checkedFood">
        <label for="rice">Rice</label>
        <input type="checkbox" id="Chapati" value="Chapati" v-model="checkedFood">
        <label for="chapati">Chapati</label>
      </div>
      <div :class="['formItem']">
        <label for="ageRange">Age: </label>
        <select v-model="ageRange">
          <option disabled value="">Please select one</option>
          <option>1-20</option>
          <option>20-50</option>
          <option>Above 50</option>
        </select>
      </div>
      <div :class="['formItem']">
        <button type="submit" @click="consolePrint"> Submit </button>
      </div>
    </form> 
    <div :class="['imgDiv']">
      <div v-for="image in imgData" :key="image.id" >
        <img :src="image.src" />
        <p> {{ image.title }} </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      arr: [1,2,3,4,5,6,7,8,9,10],
      name: 'Shivani',
      fullName: '',
      address: '',
      gender: '',
      checkedFood: [],
      ageRange: '',
      imgData:null,
    }
  },
  mounted: function() {
    axios.get("http://localhost:8080/photos").then(response => {
        this.imgData = response.data;
    }, error => {
        console.error(error);
    });
  },
  methods: {
    consolePrint: function(event) {
      event.preventDefault();
      console.log('Form items: '+this.fullName+' '+ this.address+ ' '+ this.gender+ ' '+this.checkedFood+' '+this.ageRange);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
form {
  border: 1px solid black;
  padding: 20px 0;
}
.formItem {
  padding:10px 0;
  display:flex;
  margin-left:10%;
}
.textArea{
  display: flex;
  align-items: center;
}
.imgDiv {
  display: flex;
  flex-wrap: wrap;
}
.imgDiv div {
  width: 33%;
  flex:1;
}
.imgDiv img {
  padding: 10px;
  max-height: 220px;
  min-width: 400px;
}
</style>
